.preview {
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0 3px 15px rgb(255, 255, 255, 0.2);
}

.preview>header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    padding: 1rem;
}

.preview>header>h1 {
    margin: 0;
    font-size: xx-large;
}

.preview header>aside {
    display: flex;
    gap: 2rem;
    font-size: small;
}